.bg-0 {
	background-color: #202020;
}

.bg-1 {
	background-color: #303030;
}

#add-item-form > button, .bg-2 {
	background-color: #404040;
}

.bg-3 {
	background-color: #505050;
}

h1, h2, h3, h4, h5, p {
	color: white;
}

#add-item-form {
	padding: 10px;
	margin: 0;
	display: flex;
	flex-direction: column;
}

#add-item-form > * {
	margin: 10px 0 10px 0;
	max-width: 80%;
	border-style: groove;
}

#add-item-form > button {
	max-width: 100px;
	color: white;
	border-width: 1px;
	border-color: white;
	border-style: groove;
}